/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
	box-sizing:border-box;  
  }
  
  button, summary {
	  cursor: pointer;
  }
  
  
  
  
  
  /*********************/
  /* CUSTOM PROPERTIES */
  /*********************/
  :root {
	  /* startje */
	  --color-text:#111;
	  --color-background:#FBAE17;
  
	  /* Kijk even of je nog wat extras met de custom properties kan doen! is erg
	  handig namelijk en scheelt je later veel tijd mocht je nog wat willen aanpassen :)
	  
	  groetjes,
	  Yara
	  */
  }
  
  
  
  
  
  /****************/
  /* JOUW STYLING */
  /****************/
  
  /* jouw code */
  
  @font-face {
	  font-family: 'Gotham';
	  src: url(../assets/Gotham-Font/GothamBold.ttf) format('opentype'),
		   url(../assets/Gotham-Font/GothamBook.ttf) format('opentype'),
		   url(../assets/Gotham-Font/GothamBookItalic.ttf) format('opentype'),
		   url(../assets/Gotham-Font/GothamBoldItalic.ttf) format('opentype'),
		   url(../assets/Gotham-Font/GothamLight.ttf) format('opentype'),
		   url(../assets/Gotham-Font/GothamLightItalic.ttf) format('opentype'),
		   url(../assets/Gotham-Font/GothamMedium.ttf) format('opentype'),
		   url(../assets/Gotham-Font/GothamMedium_1.ttf) format('opentype'),
		   url(../assets/Gotham-Font/GothamMediumItalic.ttf) format('opentype');
  }
  
  body {
	  background-color: #FBAE17;
	  font-family: 'Gotham';
	  line-height: 150%;
  
	  /* aan te raden voor je om niet een font-family om de gehele body neer te zetten,
	  dit voor het geval je wel ooit een nieuw font er in wil zetten of een font wil weghalen
	  en dan kan hij raar gaan doen.
	  Liever dus fonts gewoon per element zetten, maar je kan door middel van komma's meerdere 
	  elementen 1 styling geven: 
	  
	  h1, h2, p {
		  font-family: 'Gotham';
	  }
	  
	  ook is het aan te raden om altijd een backup font te kiezen voor het geval dat je gotham
	  font niet wil laden of dat hij het niet doet (ook door kommas)
  
	  h1, h2, p {
		  font-family: 'Gotham', Helvetica, Arial, Sans-Serif;
	  }
	  
	  groetjes
	  Yara
	  */
  }
  
  nav{
	  font-family: 'Gotham';
  }
  
  p {
	  font-weight: 400;
	  font-style: italic;
  }


  h2 {
	  font-weight: 900;
  }
  
  /* Deze p en h2 styling heb ik even toegevoegd om te kijken of het werkte, en om aan te kunnen geven
  dat je zelf bij ieder element nog de font-weight en font-style aan kan passen. Dit kan je zelf natuurlijk
  nog veranderen als je wilt :) 
  
  groetjes
  Yara
  */
  
  main section {
	  color: white;
	  width: 100%;
	  aspect-ratio: 9/16;
	  display: flex;
	  flex-direction: column;
	  background-size: cover;
	  background-position: center center;
	  margin-bottom: 2em;
  }

  main section > *:first-child {
	margin-top: auto;
  }
  
  main section:nth-of-type(1){
	  background-image: url("../images/gustavklimt.png");
  }
  
  main section:nth-of-type(2){
	  background-image: url("../images/eenden.png");
  }
  
  main section:nth-of-type(3){
	  background-image: url("../images/vangogh.jpeg");
  }
  
  main section:nth-of-type(4){
	  background-image: url("../images/cadeauinspiratie.jpeg");
  }
  